<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <h1>메인-- "/swagger -> 로 이동하세요</h1>
    <!-- <a href="{% url 'root' %}">메인으로 돌아가기</a> -->
    <nav>
        <!-- <a href="{% url 'main' %}">파일 업로드</a>
        <a href="{% url 'ask_question_api' %}">open ai api 로 질문하기</a>
        <a href="{% url 'ask_question_model' %}">model 로 질문하기</a> -->
    </nav>
    {% block content %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
